@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,latin-ext);
body{
	font-family:'Open Sans' !important; 
	font-weight:300;
	margin:0;
	font-size:18px;
}
h1, h2, h4{
	margin:0;
	padding:0;
}
h2{
	text-transform:uppercase;
	margin-bottom:30px;
}
header{
	background-color:#666;
}
footer{
	padding-left:65px;
	padding-right:65px;
	padding-top:15px;
	padding-bottom:15px;
	font-size:12px;
}
header .logo{
	display:inline-block;
	background:url(../images/logo_white.png);
	width:103px;
	height:40px;
}
footer .logo-small{
	display:inline-block;
	background:url(../images/logo-small.png);
	width:98px;
	height:39px;
}
.menu-bar{
	position:fixed;
	width:100%;
	padding-top:10px;
	padding-bottom:5px; 
	z-index:10;
	padding-left:65px;
	padding-right:65px;
}
.menu{
	margin:0;
	padding:0;
	float:right;
	margin-top:7px;
}
.menu li{
	float:left;
	list-style:none;
	margin-left:30px;
}
.menu li a{
	text-transform:uppercase;
	color:white;
	font-weight:600;
	font-size:14px;
}
.text{
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
}
.about{
	
}
.border{
	border: 1px solid red;
}
.about h2{
	
}
.photos{
	background-color:black;
}
.solutions{ 
	color:white; 
}
.solutions h4{
	margin-bottom:15px;
}
.case-study{
	background-color:white;
}
.stile-t, .stile-d{
	padding:10px;
	font-size:15px;
}
.stile-t{
	background:url(../images/white50.png);
	margin-bottom:10px;
	min-height:134px;
}
.stile-d{
	background:url(../images/black50.png);
	text-transform:uppercase;
	font-weight:bold;
}
.stile-d p{
	margin-bottom:5px;
}
.portfolio{
	background-color:#333;
}

.clients{ 
	color:white;
	overflow:hidden;
	padding-bottom:0;
}
.clients p{
	margin-bottom:30px;
}
.clients .ctile{
	background:url(../images/white50.png);
	height:200px;
	overflow:hidden; 
}
.ctile-f, .ctile-b{
	height:200px;
}
.ctile .in{
	position:relative;
	top:0px;
}
.ctile-b{
	background:url(../images/black50.png);
}
.ctile-f-1{
	background:url(../images/mentos.png) no-repeat center center;
}
.ctile-f-2{
	background:url(../images/mentos.png) no-repeat center center;
}
.ctile-f-3{
	background:url(../images/mentos.png) no-repeat center center;
}
.ctile-f-4{
	background:url(../images/mentos.png) no-repeat center center;
}
.our-team{ 
	color:white;
	padding-top:70px;
}
.careers{ 
	color:white;
	padding-top:30px;
}
.career{
	margin-top:30px;
	margin-bottom:15px;
	padding-top:90px;  
}
.business-analyst{
	background:url(../images/analitics.png) no-repeat center top;
}
.project-manager{
	background:url(../images/manager.png) no-repeat center top;
}
.senior-android-developer{
	background:url(../images/android.png) no-repeat center top;
}
.senior-ios-developer{
	background:url(../images/ios.png) no-repeat center top;
}
.graphic-designer{
	background:url(../images/designer.png) no-repeat center top;
}
.frontend-developer{
	background:url(../images/frontend.png) no-repeat center top;
}
.careers .btn{
	display:inline-block;
	margin-bottom:30px;
}
.tile{
	float:left;
	height:33%;
	width:33%;  
}
.tile-2, .tile-5, .tile-8{
	width:34%; 
}
.tile-4, .tile-5, .tile-6{
	height:34%;
}
.tile-1{
	background:url(http://lorempixel.com/400/400) no-repeat center center / cover; 
}
.tile-2{
	background:url(http://lorempixel.com/400/401) no-repeat center center / cover; 
}
.tile-3{
	background:url(http://lorempixel.com/400/402) no-repeat center center / cover; 
}
.tile-4{
	background:url(http://lorempixel.com/400/403) no-repeat center center / cover; 
}
.tile-5{
	background:url(http://lorempixel.com/400/404) no-repeat center center / cover; 
}
.tile-6{
	background:url(http://lorempixel.com/400/405) no-repeat center center / cover; 
}
.tile-7{
	background:url(http://lorempixel.com/400/406) no-repeat center center / cover; 
}
.tile-8{
	background:url(http://lorempixel.com/400/407) no-repeat center center / cover; 
}
.tile-9{
	background:url(http://lorempixel.com/400/408) no-repeat center center / cover; 
}
.map{
	background-color:#DDD;
}
.btn{
	background-color:#1BADF5;
	padding:6px 20px;
	color:white;
	border-radius:20px;
	font-size:16px;
}
.btn:hover{
	color:white;
}
.btn-black{
	background-color:black;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}
.contact-form{
	width:100%;
	display:block;
	margin-top:15px;
	padding:10px;
	font-size:14px;
	border-radius:3px;
	border:1px solid #DFDFDF;
	color:#444;
}
textarea.contact-form{
	height:156px;
	margin-bottom:15px;
}
.blue-link{
	color:#1BADF5;
	margin-top:8px;
	font-size:16px; 
	display:inline-block;
}
.photos table{
	width:100%;
	height:100%;
}
.photos col1 .photos col3{
	width:33%;
}
.photos col2{
	width:34%;
}
.photos row1{
	height:33%;
}
.photos row2{
	height:67%;
}
.ptile-1{
	background:url(../images/kafel1.jpg) no-repeat center center / cover;
}
.ptile-2{
	background:url(../images/kafel2.jpg) no-repeat center center / cover;
}
.ptile-3{
	background:url(../images/kafel3.jpg) no-repeat center center / cover;
}
.ptile-4{
	background:url(../images/kafel4.jpg) no-repeat center center / cover;
}
.ptile-5{
	background:url(../images/kafel5.jpg) no-repeat center center / cover;
}
.menu .facebook{
	width:13px;
	height:24px;
	display:inline-block;
	background:url(../images/fb_white.png);
}
.menu .twitter{
	width:24px;
	height:20px;
	display:inline-block;
	background:url(../images/tw_white.png);
	margin-top:3px;
}
.menu .linkedin{
	width:20px;
	height:21px;
	display:inline-block;
	background:url(../images/ln_white.png);
}
.menu .social{
	margin-left:10px;
}
.menu .break{
	margin-left:50px;
}
.ctile-b{
	padding-left:10px;
	padding-right:10px;
}
.ctile-b-1 h4{
	padding-top:20px;
	padding-bottom:10px;
	font-size:22px;
	font-weight:600;
}
.ctile-b-1 p{
	font-style:italic; 
}
.team h3{
	font-size:18px;
	margin-bottom:3px;  
	margin-top:3px;
}
.team p{
	font-size:12px;
}
.our-team .member{
	height:210px;
	margin-top:30px;
}
.our-team .img{
	width:140px;
	height:140px;
	border-radius:50%;
	display:inline-block;
	position:relative;
	border-style: solid;
	border-width:0;
	border-color:white;
}
.cezary-jarosz{
	background:url(http://faceresearch.org/uploads/base/white_male) no-repeat center center / cover;
}

/* Medium devices (desktops, 992px and up) */ @media (max-width: 1200px) {
	.menu li{
		margin-left:17px;
	}
	.solutions .stile-t p{
		font-size:14px;
	}
	.solutions .stile-d p{
		font-size:13px;
	}
	.clients .ctile-b p{
		font-size:14px;
	}
}
/* Small devices (tablets, 768px and up) */ @media (max-width: 992px) {
 
}
/*  */ @media (max-width: 768px) {
 
}